
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Datenschutzhinweis zu TikTok</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Datenschutzhinweis zu TikTok</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

        <p>
<h3>Beschreibung und Umfang der Datenverarbeitung</h3>
Die Social-Media-Anwendung TikTok ist ein internationales Videoportal. Es dient der sogenannten Lippensynchronisation von Musikvideos und anderen kurzen Videoclips.

Betrieben wird TikTok von dem chinesischen Unternehmen ByteDance.

Die Datenschutzerklärung von TikTok bildet die Grundlage, auf der TikTok alle Daten verarbeitet, die von TikTok bei den Nutzern erhoben werden oder von den Nutzern bereitgestellt werden.

Verantwortlich für die Verarbeitung personenbezogener Daten ist laut Datenschutzerklärung die TikTok Technology Limited („TikTok Irland“), und die TikTok Information Technologies UK Limited („TikTok UK“). In der Datenschutzerklärung ist meist verkürzt von „TikTok“, „wir“ oder „uns“ die Rede.

Sofern Sie eine Werbeeinwilligung erteilt haben, wird TikTok Ihre Daten verwenden, um Ihnen personalisierte Werbung anzuzeigen.

<h3>Rechtsgrundlage</h3>
Die personalisierte Werbung, die Ihnen TikTok anzeigt, basiert auf Ihrer Einwilligung. Im Übrigen verarbeitet TiKTok die Daten der Nutzer auf Basis eines Vertrages (Art. 6 Abs. 1 Satz 1 Buchst. b DSGVO), in Folge einer Interessenabwägung (Art. 6 Abs. 1 Satz 1 Buchst. f DSGVO) oder zur Erfüllung rechtlicher Verpflichtungen (Art. 6 Abs. 1 Satz 1 Buchst. c DSGVO). Einwilligungen können vom Nutzer widerrufen werden und der auf einer Interessenabwägung basierenden Verarbeitung kann gemäß Art. 21 DSGVO widersprochen werden. Details entnehmen Sie bitte der Datenschutzerklärung und den Nutzungsbedingungen von TikTok (Link s. unten).

<h3>Zweck</h3>
TikTok verarbeitet personenbezogene Daten für verschiedene Zwecke, unter anderem für die Bereitstellung seiner Dienste, um die Nutzer über Änderungen der Dienste benachrichtigen zu können, um den Nutzern Support bieten zu können, um es den Nutzern zu ermöglichen, dass diese Nutzerinhalte mit anderen Nutzern teilen können, für die Entwicklung neuer Dienste oder zur Erfüllung rechtlicher Verpflichtungen.

TikTok sammelt unter anderem folgende Daten über seine Nutzer: Profildaten, Nutzerinhalte und Nutzungsdaten, Standortdaten, Informationen über die jeweiligen Kontakte/ Freunde.

Weitere Informationen darüber, wie Ihre Daten verwendet werden und welche Daten verarbeitet werden, entnehmen Sie bitte der Datenschutzerklärung und den Nutzungsbedingungen von TikTok (Link s. unten).

<h3>Dauer der Speicherung</h3>
TikTok bewahrt die Daten der Nutzer so lange auf, wie dies notwendig ist, um den Dienst den Nutzern zur Verfügung zu stellen, um seine vertraglichen Verpflichtungen erfüllen zu können und um seine Rechte in Bezug auf die betreffenden Informationen ausüben zu können. Sollten die Informationen der Nutzer nicht benötigt werden, um die Dienstleistung zu erbringen, werden die Nutzerdaten durch TikTok nur so lange aufbewahrt, wie TikTok einen legitimen Geschäftszweck mit der Speicherung dieser Daten verfolgen kann.

Wenn ein Nutzer bei TikTok um die Löschung seines Kontos bittet, wird dieses zunächst für einige Wochen deaktiviert. Im Anschluss daran wird das Konto gelöscht. In diesem Zuge werden auch die personenbezogenen Daten der Nutzer bezüglich der In-App-Nachricht-Funktion gelöscht. Nachrichten, welche Sie an andere Nutzer des TikTok-Dienstes gesendet haben, bleiben auf deren Geräten gespeichert.

In seiner Datenschutzerklärung (Link s. unten) weist TikTok zudem auf etwaige längere Löschfristen bzw. Aufbewahrungsfristen hin.

<h3>Widerruf, Widerspruch und Ende der Verarbeitung</h3>
TikTok bietet seinen Nutzern die Möglichkeit, die eigenen Nutzerdaten (personenbezogene Daten) über die Einstellungsmöglichkeiten zu kontrollieren und zu verwalten. TikTok bietet seinen Nutzern zudem automatisierte Auskunftsdienste an, mit denen Sie Auskunft darüber erhalten, wie Ihre Daten verarbeitet werden. Im Rahmen der gesetzlichen Vorgaben, haben Sie ferner Anspruch auf Löschung und Berichtigung der Daten und können der Verwendung Ihrer Daten widersprechen oder die Verwendung einschränken lassen sowie die von Ihnen erklärten Einwilligungen jederzeit widerrufen.

Ergänzender Hinweis
Bitte beachten Sie, dass sich die Nutzungsbedingungen und die Datenschutzerklärung von TikTok jederzeit ändern können. Bitte erkundigen Sie sich deshalb in regelmäßigen Abständen über die Aktualität dieser Texte. Die DSV-Gruppe übernimmt keine Gewähr für Aktualität, Richtigkeit oder Vollständigkeit der genannten Informationen, welche sich auf die Nutzungsbestimmungen und Datenschutzerklärung von TikTok beziehen. Unsere vorliegenden Datenschutzhinweise dienen der nach den Artikeln 12 ff. DSGVO erforderlichen Information in dem Umfang, in welchem die Unternehmen der DSV-Gruppe Dienste von TikTok durch Einbettung von Videos in einen unserer Webauftritte in Anspruch nimmt oder TikTok durch unsere Mitarbeiter für Kunden genutzt wird.

Nutzungsbedingungen-TikTok:
https://www.tiktok.com/legal/terms-of-use?lang=de

Datenschutzerklärung:
https://www.tiktok.com/legal/privacy-policy?lang=de#section-1

Fragen zur Datenschutzerklärung von TikTok:
Für Nutzer, die Fragen zur Datenschutzerklärung von TikTok haben oder den Datenschutzbeauftragten von TikTok kontaktieren möchten, stellt TikTok ein Kontaktformular bereit, welches über die Datenschutzerklärung verlinkt ist.

	  
        </p>

      </div>
    </section>

  </main><!-- End #main -->
  
  



