

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Die Weltauslöschung</h2>
          <h3 data-aos="fade-up">Ein Survival Guide</h3>
          <p data-aos="fade-up" data-aos-delay="100">
		  Das Buch präsentiert eine Sammlung von zehn packenden Kurzgeschichten,
		  die sich alle um das Thema der Zerstörung der Welt drehen. 
		  </p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Buy a Book</a>
            <!--<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="assets/img/hero-img-1.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Inception Brainstorming</h2>
          <h3 data-aos="fade-up">Unlocking Limitless Creativity for Breakthrough Ideas</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            Ignite true innovation with a step-by-step framework! Unleash your creative potential, explore deep thinking, ask powerful questions, and evaluate ideas effectively. 
            This book equips entrepreneurs, team leaders, and individuals with tools for continuous innovation. Unlock your creative genius and unleash possibilities!
		  </p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Buy a Book</a>
            <!--<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="assets/img/hero-img-2.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Paul</h2>
          <p>Learn More <span>About Paul</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>Paul Mizel</h4>
              <p>Entrepreneur</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">                              
                Paul Mizel, an entrepreneur and author, is a visionary leader who pushes boundaries and inspires others to think beyond limitations. 
                His contributions to literature and business leave a lasting impact, captivating readers and shaping the future of innovation.                           
              </p>
              <p>
                To explore Paul Mizel's diverse literary works, including his captivating science fiction novel and groundbreaking brainstorming guide, I encourage you to peruse the following list of his published books:
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Die Weltauslöschung: Ein Survival Guide</li>
                <li><i class="bi bi-check2-all"></i> Inception Brainstorming: Unlocking Limitless Creativity for Breakthrough Ideas</li>
                <li><i class="bi bi-check2-all"></i> The world annihilation: A Survival Guide (in progress)</li>
              </ul>
              <div class="position-relative mt-4">
                <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
                <!--<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>-->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Books</h2>
          <p>Our <span>Books</span></p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/books/1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-book"></i></a>                  
                  <a href=""><i class="bi bi-bag"></i></a>                  
                </div>
              </div>
              <div class="member-info">
                <h4>Die Weltauslöschung</h4>
                <span>Ein Survival Guide</span>
                <p>Das Buch präsentiert eine Sammlung von zehn packenden Kurzgeschichten,
                  die sich alle um das Thema der Zerstörung der Welt drehen. </p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/books/2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-book"></i></a>                  
                  <a href=""><i class="bi bi-bag"></i></a>                  
                </div>
              </div>
              <div class="member-info">
                <h4>Inception Brainstorming</h4>
                <span>Unlocking Limitless Creativity for Breakthrough Ideas</span>
                <p>Ignite true innovation with a step-by-step framework. Unleash your limitless creative potential, discover deep thinking, and prioritize ideas effectively.
                   Embrace continuous innovation and unlock your creative genius!</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/books/3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-book"></i></a>                  
                  <a href=""><i class="bi bi-bag"></i></a>                  
                </div>
              </div>
              <div class="member-info">
                <h4>The world annihilation (in progress)</h4>
                <span>A Survival Guide</span>
                <p>The book presents a collection of ten gripping short stories, all revolving around the theme of the destruction of the world. </p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->


    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-1.jpg"><img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-2.jpg"><img src="assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-3.jpg"><img src="assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-4.jpg"><img src="assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-5.jpg"><img src="assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-6.jpg"><img src="assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->


  </main><!-- End #main -->

